/* ==========================================================================
   								FRAME - 1
   ========================================================================== */
.frame-1.animate .chart-1, .frame-1.animate .chart-2, .frame-1.animate .chart-3 {
  width: 100%;
}

.frame-1.animate .lines {
  width: 100%;
}

.frame-1.animate .marker-1,
.frame-1.animate .marker-2,
.frame-1.animate .setka  {
  opacity: 1; 
}
.frame-1.animate .marker-1::before,
.frame-1.animate .marker-2::before {
	transform: scale(1);
}
.frame-1.animate .marker-1::after,
.frame-1.animate .marker-2::after {
	transform: scale(1);
}
.frame-1.animate .frame-1_text-block {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.frame-1.animate .frame-1_phone {
  opacity: 1;
  transform: translate3d(0, 0, 0); 
}
.frame-1.animate .frame-1_phone::after {
  	transform: translate3d(0, 0, 0);  
}


/* ==========================================================================
   								FRAME - 2
   ========================================================================== */
.frame-2 .w1.animate {
	opacity: 1;
}
.frame-2 .animate li {
	opacity: 1!important;
	transform: translate3d(0, 0, 0)!important;
}
.frame-2 .animate .frame-2_description_list {
	transform: perspective(700px) rotateY(0deg);
}

/* ==========================================================================
   								FRAME - 2
   ========================================================================== */

.frame-3.animate .chart-2,
.frame-3.animate .chart-3,
.frame-3.animate .chart-4  {
	height: 946px;
}
.frame-3.animate .line {
	width: 100%;	
}
.frame-3.animate .frame-3_title {
	opacity: 1;
    transform: translate3d(0, 0, 0);
}
.frame-3.animate .step-1 .bobble,
.frame-3.animate .step-2 .bobble,
.frame-3.animate .step-3 .bobble,
.frame-3.animate .step-4 .bobble {
	transform: scale(1);
}
.frame-3.animate .frame-3_step.step-1 .step-animate,
.frame-3.animate .frame-3_step.step-2 .step-animate,
.frame-3.animate .frame-3_step.step-3 .step-animate,
.frame-3.animate .frame-3_step.step-4 .step-animate {
	opacity: 1;
  	transform: translate3d(0, 0, 0);
}


.frame-4.animate .wrapper .bg {
	transform: perspective(700px) rotateY(0deg);
	opacity: 1;
}
.frame-4.animate .frame-4_animate {
	opacity: 1;
	transform: translate3d(0, 0, 0); 
}
.frame-5_form-block.animate .form {
	opacity: 1!important;
	transform: scale(1)!important;
}
.frame-5_form-block.animate .frame-5_text {
	transform: translate3d(0, 0, 0);
  	opacity: 1;
}