.frame-4,
.frame-5,
.frame-6,
.frame-7,
.frame-8,
footer {
   display: none;
}

@media screen and (max-width: 720px) {
   .body-wrapper {
      min-width: 320px;
   }
   .wrapper {
      min-width: 320px;
      padding: 0 12px;      
      width:  auto;      
   }
/* ==========================================================================
                                   HEADER 
   ========================================================================== */   
   header .wrapper {
      height: 54px;
   }
   header .wrapper .header_logo {      
      width: auto;
      height: 22px;
      margin-top: 15px;
   }
   header .wrapper .header_logo img {      
      height: 22px;
      width: auto;
   }
   header nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 0;
      background-color: #69b0f7;      
      transition: max-height 300ms ease;
      overflow: hidden;
   }
   header nav::after {
      content: "";
      display: block;
      position: fixed;
      width: 100%;
      height: 1px;
      background-color: #fff;
      left: 0;
      top: 54px;
   }
   header.show-nav .wrapper .header_logo {
      z-index: 102;
      position: fixed;
      top: 0px;
      left: 12px;      
   }
   header.show-nav {
      
   }
   header nav .header_menu li:hover {
      border: none;
   }
   header.show-nav nav {      
      max-height: 100%;
      z-index: 100;
   }
   header nav .header_menu {
      margin: 25vh 0 0 0;
      float: none;
      text-align: center;      
   }
   header nav .header_menu li {
      float: none;
      margin: 0 0 40px 0;
      padding: 0;
      height: auto;
      font: 20px/1 'Fira Sans', sans-serif;
   }
   header nav .header_menu li.current a {      
      border-bottom: 3px solid #fff;
      display: inline-block;
      padding-bottom: 15px;
      font-weight: bold;
   }
   header .header_reg {
      float: none;
      margin: 25vh auto 0 auto;
   }
   header .nav_but {
      display: block;      
   }
   header.show-nav .nav_but {
      position: fixed;
      right: 12px;
      z-index: 102;
   }
   
   /* ==========================================================================
                                   FRAME - 1 
   ========================================================================== */   




   .frame-1 .marker-1,
   .frame-1 .marker-2 {
      display: none;
   }


   .frame-1 {
      height: auto;
      background: url(../img/frame_01_bg.svg) no-repeat center -180px / 2560px auto;
   }
   .frame-1_text-block {
      width: auto;
      padding-top: 50px;
      text-align: center;
      margin-bottom: 37px;
   }
   .frame-1_text-block h1 {
      font: bold 20px/24px 'Fira Sans', sans-serif;
   }
   .frame-1_description {
      width: auto;
      font: 300 16px/22px 'Fira Sans', sans-serif;
   }
   .frame-1_registration {
      width: auto;
      height: 57px;      
      text-align: center;
      font: 17px/60px 'Fira Sans', sans-serif;
   }
   .frame-1_phone {
      width: 166px;
      height: 346px;
      position: relative;
      top: 0;
      right: 70px;
      margin: auto;
      border-radius: 36px;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.4);
      opacity: 0;
      transform: translate3d(50px, 0, 0);
      transition: all 300ms ease 2300ms;
   }
   .frame-1_phone::before {
      content: "";
      display: block;
      width: 166px;
      height: 346px;
      background: url(../img/bg-phone.png) no-repeat center center / 166px auto;
      border-radius: 36px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
   }
   .frame-1_phone::after {
      content: "";
      display: block;
      width: 142px;
      height: 259px;
      position: absolute;
      top: 47px;
      left: 166px;
      right: auto;
      background: url(../img/bg-phone-screen.png) no-repeat center center / 142px auto;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.4);
      transform: translate3d(-100%, 0, 0);
      z-index: 1;
      transition: all 250ms ease 2800ms;
   }
   .frame-1 .chart-1,
   .frame-1 .chart-2,
   .frame-1 .chart-3 {
      height: 600px;
   }
   .frame-1 .chart-1::after {
      height: 600px;
      background: url(../img/frame_01_Chart_1.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .chart-2::after {
      height: 600px;
      background: url(../img/frame_01_Chart_2.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .chart-3::after {
      height: 600px;
      background: url(../img/frame_01_Chart_3.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .setka {
      height: 600px;
      background: url(../img/frame_01_setka.svg) no-repeat center -180px / 2560px auto;
   }
   .frame-1 .lines {
      height: 600px;
   }
   .frame-1 .lines .line-1 {
      height: 600px;
      background: url(../img/frame_01_line_1.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .lines .line-2 {
      height: 600px;
      background: url(../img/frame_01_line_2.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .lines .line-3 {
      height: 600px;
      background: url(../img/frame_01_line_3.svg) no-repeat center -385px / 2560px auto;
   }
/* ==========================================================================
                                   FRAME - 2
   ========================================================================== */   

   .frame-2 {
      z-index: 1;
      position: relative;
   }
   .frame-2_title-block {
      width: auto;
      margin: auto;
      text-align: center;
      margin-bottom: 90px;
   }
   .frame-2_title-block h2 {
      font: 700 24px/30px 'Fira Sans', sans-serif;
      color: #000;
      margin: 0;
      padding: 100px 0 15px 0;
   }
   .frame-2_title-block_text {
     font: 300 16px/24px 'Fira Sans', sans-serif;
     color: #000;
  }
  .frame-2_description li {
     width: auto;
     float: none!important;
     position: relative;
     padding-left: 0;
     text-align: center;
     margin-bottom: 90px;
  }
  .frame-2_description_list,
  .frame-2_description_list.w2 {
     position: relative;
     top: 0;
     left: 3vw;
     width: 120px;
     height: 120px;
     transition: transform 1s ease;
     transform: perspective(700px) rotateY(90deg);
     margin: auto;
  }
  .frame-2_description li h3 {
     font: 500 24px/1 'Fira Sans', sans-serif;
     color: #5ca2e9;
     padding: 0;
     margin: 50px 0 24px 0;
  }
  .frame-2_description_text {
     font: 16px/24px 'Fira Sans', sans-serif;
     color: #000;
  }
  .frame-2  li.li-2,
  .frame-2  li.li-4 {
      margin-bottom: 0;
   }
   .frame-2_chart {
      height: auto;
      background: url(../img/frame_02_chart.svg) no-repeat 72% top / auto 115%;
      margin: 26px 0 60px 0;
      padding-bottom: 100px;
   }
   .frame-2_chart .frame-2_description {
      padding-top: 145px;
   }
   .frame-2  li.li-3 {
      margin-bottom: 80px;
   }

/* ==========================================================================
                                   FRAME - 3
   ========================================================================== */ 




.frame-3 .line {
   display: none;
}

.frame-3 {
    height: auto;
    background: url(../img/frame_03_bg.svg) no-repeat center bottom / auto 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
 }
.frame-3 .wrapper {

}
.frame-3_title {
   margin-bottom: 25px;
}
.frame-3_title h2 {
    margin: 0 0 21px 0;
    padding: 0;
    font: 500 24px/48px 'Fira Sans', sans-serif;
    color: #fff;
}
.frame-3_title-text {
    font: 300 16px/24px 'Fira Sans', sans-serif;
    color: #fff;
    opacity: 0.9;
}
.frame-3 .frame-3_step {
    position: relative;
    text-align: center;
    width: auto;
    top: 0!important;
    left: 0!important;
    margin-bottom: 70px;
}
.frame-3 .frame-3_step .bobble {
   display: none;
}
.frame-3 .frame-3_step .bobble_title {
    font: 600 24px/1 'Fira Sans', sans-serif;
    color: #fff;
    margin-bottom: 38px;
}
.frame-3 .frame-3_step .bobble_title::before {
      display: block;
      font: 600 96px/1 'Fira Sans Extra Condensed', sans-serif;
      margin-bottom: -60px;
      opacity: 0.13;
}
.frame-3 .chart-1 {    
   background: url(../img/frame_03_Chart_1.svg) no-repeat center bottom / auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-2 {    
    position: absolute;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-3 {    
    position: absolute;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-4 {    
    position: absolute;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-2::before {
    content: "";
    background: url(../img/frame_03_Chart_2.svg) no-repeat center bottom / auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.frame-3 .chart-3::before {
    content: "";
    background: url(../img/frame_03_Chart_3.svg) no-repeat center bottom / auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.frame-3 .chart-4::before {
    content: "";
    background: url(../img/frame_03_Chart_4.svg) no-repeat center bottom / auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

