@media screen and (max-width: 1190px) {
   .body-wrapper {
      min-width: 1024px;
   }
   .wrapper {
      width: 940px;
      margin: auto;
   }
    /* ================================ FRAME - 1 ========================================*/   
   .frame-1 {
      height: 660px;
      background: url(../img/frame_01_bg.svg) no-repeat center bottom / 2560px auto;
   }
   .frame-1 .marker-1 {
      top: 426px;
      left: 417px;
      width: 14px;
      height: 14px;
   }
   .frame-1 .marker-1::before, .frame-1 .marker-2::before {            
      width: 30px;
      height: 30px;                  
      top: -7px;
      left: -8px;      
   }
   .frame-1 .marker-1::after, .frame-1 .marker-2::after {      
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.1;
      position: absolute;
      top: -30px;
      left: -30px;
      transform: scale(0);
      transition: all 300ms linear 1600ms;
   }
   .frame-1 .marker-1 span, .frame-1 .marker-2 span {
      font: 14px/1 'Fira Sans', sans-serif;      
      left: -35px;
      top: -27px;      
   }
   .frame-1 .marker-2 {
      display: none;
   }
   .frame-1 .chart-1,
   .frame-1 .chart-2,
   .frame-1 .chart-3,
   .frame-1 .setka,
   .frame-1 .lines,
   .frame-1 .lines .line-1,
   .frame-1 .lines .line-2,
   .frame-1 .lines .line-3 {
      height: 660px;
   }
   .frame-1 .lines .line-1,
   .frame-1 .lines .line-2,
   .frame-1 .lines .line-3 {
      background-position: center -336px;
   }
   .frame-1 .chart-1::after,
   .frame-1 .chart-2::after,
   .frame-1 .chart-3::after {
      height: 660px;  
      background-position: center -336px;
   }
   .frame-1_text-block {
      width: 480px;
      padding-top: 105px;
   }
   .frame-1_text-block h1 {    
      font: bold 30px/36px 'Fira Sans', sans-serif;    
   }
   .frame-1_description {
      width: 520px;
      font: 300 20px/26px 'Fira Sans', sans-serif;   
      margin: 10px 0 52px 0;   
   }
   .frame-1_phone {
      width: 230px;
      height: 476px;
      position: absolute;
      top: 75px;
      right: 190px;
      border-radius: 36px;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.4);
      opacity: 0;
      transform: translate3d(50px, 0, 0);
      transition: all 300ms ease 2300ms;
   }
   .frame-1_phone::before {            
      width: 230px;
      height: 476px;
      background: url(../img/bg-phone.png) no-repeat center center / 230px 476px;
   }
   .frame-1_phone::after {            
      width: 195px;
      height: 355px;      
      top: 58px;
      right: -195px;
      background: url(../img/bg-phone-screen.png) no-repeat center center / 195px 355px;      
   }

   /* ================================ FRAME - 2 ========================================*/   

   .frame-2_title-block {
      width: 780px;
      margin: auto;
      text-align: center;
      margin-bottom: 135px;
   }
   .frame-2_title-block h2 {
      font: 700 36px/48px 'Fira Sans', sans-serif;
      color: #000;
      margin: 0;
      padding: 100px 0 15px 0;
   }
   .frame-2_title-block_text {
      font: 300 20px/26px 'Fira Sans', sans-serif;
      color: #000;
   }
   .frame-2_description li {
      width: 50%;
      float: left;
      position: relative;
      padding-left: 160px;
   }
   .frame-2_description li h3 {
      font: 500 30px/1 'Fira Sans', sans-serif;      
      margin: 0 0 24px 0;
   }
   .frame-2_description_text {
      font: 16px/22px 'Fira Sans', sans-serif;      
   }
   .frame-2_description_list {      
      top: -38px;
      left: 35px;
      width: 105px;
      height: 105px;
   }
   .frame-2_description_list::before {            
      width: 90px;
      height: 90px;      
      top: 8px;
      left: -6px;      
   }
   .frame-2_description_list::after {            
      width: 134px;
      height: 134px;      
      top: -14px;
      left: -27px;      
   }

   /* ================================ FRAME - 3 ========================================*/   

   .frame-3 {
      height: 735px;
      background-size: auto 735px;
   }
   .frame-3 .chart-1 {
      height: 735px;
      background-size: auto 735px;
   }
   .frame-3.animate .chart-2,
   .frame-3.animate .chart-3,
   .frame-3.animate .chart-4 {
      height: 735px;
   }
   .frame-3 .chart-2::before,
   .frame-3 .chart-3::before,
   .frame-3 .chart-4::before {
      height: 735px;  
      background-size: auto 735px;
   }
   .frame-3 .line {
      height: 735px;  
   }
   .frame-3 .line::before {                  
      height: 735px;
      background: url(../img/frame_03_line.svg) no-repeat center bottom / auto 735px;      
   }
   .frame-3 .wrapper {
      padding-top: 114px;
      text-align: center;
      position: relative;
      z-index: 1;
   }
   .frame-3_title h2 {
      margin: 0 0 1px 0;
      padding: 0;
      font: 500 36px/1 'Fira Sans', sans-serif;
      color: #fff;
   }
   .frame-3_title-text {
      font: 300 20px/48px 'Fira Sans', sans-serif;
      color: #fff;
      opacity: 0.9;
   }
   .frame-3 .frame-3_step .bobble {
      width: 16px;
      height: 16px;            
      margin-bottom: 47px;      
   }
   .frame-3 .frame-3_step .bobble::before {      
      width: 38px;
      height: 38px;      
      top: -11px;
      left: -11px;
   }
   .frame-3 .frame-3_step .bobble::after {      
      width: 90px;
      height: 90px;      
      top: -38px;
      left: -38px;
   }
   .frame-3 .frame-3_step {      
      width: 220px;
   }
   .frame-3 .frame-3_step .bobble_title {
      font: 600 24px/1 'Fira Sans', sans-serif;      
      margin-bottom: 54px;
   }
   .frame-3 .frame-3_step .bobble_title::before {      
      font: 600 96px/1 'Fira Sans Extra Condensed', sans-serif;
      margin-bottom: -62px;      
   }
   .frame-3 .frame-3_step .bobble_description {
      font: 300 16px/20px 'Fira Sans', sans-serif;      
      margin-bottom: 22px;
   }
   .frame-3 .frame-3_step.step-1 {
      top: 390px;
      left: -2px;
   }
   .frame-3 .frame-3_step.step-2 {
      top: 362px;
      left: 224px;
   }
   .frame-3 .frame-3_step.step-3 {
      top: 316px;
      left: 480px;
   }
   .frame-3 .frame-3_step.step-4 {
      top: 244px;
      left: 719px;
   }

   /* ================================ FRAME - 4 ========================================*/   

   .frame-4 {
      height: 830px;
      overflow: hidden;
   }
   .frame-4 .frame-4_title {
      margin: 111px 0 56px 0;      
      width: 560px;
      font: 500 36px/46px 'Fira Sans', sans-serif;      
   }
   .frame-4 .frame-4_list {            
      width: 540px;
   }
   .frame-4 .frame-4_list li {
      font: 400 16px/22px 'Fira Sans', sans-serif;      
      padding-left: 79px;
      padding-top: 3px;
      position: relative;
      margin-bottom: 54px;
   }
   .frame-4 .wrapper .bg {
      width: 650px;
      height: 650px;
      background: url(../img/bg-frame-4.png) no-repeat center / 100% 100%;      
      top: -20px;
      left: 358px;            
   }


   /* ================================ FRAME - 5 ========================================*/

   .frame-5 .frame-5_form-block {
      height: 1025px;
      background: url(../img/frame_05_bg.svg) no-repeat center top / 2560px auto;      
   }
   .frame-5 .frame-5_text {
      margin: 83px 0 0 0;
      background: url(../img/frame_05_icon_1.svg) no-repeat -11px -19px / 108px auto;
      height: 450px;
      font: 300 30px/36px 'Fira Sans', sans-serif;      
      padding-top: 100px;      
      width: 380px;
   }
   .frame-5 .frame-5_form-block .form {
      width: 540px;
      height: 710px;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 5px 55px 0 #2d73d7;
      padding: 0 81px;
      opacity: 0;
      transform: scale(1);
      transition: transform 1000ms ease, opacity 1500ms linear;
   }
   .frame-5 .frame-5_form-block .form h2 {
      padding: 57px 0 40px 0;      
   }
   .frame-5 .frame-5_form-block .form .input-block input {      
      height: 46px;      
      font: 20px/46px 'Fira Sans', sans-serif;      
   }
   .frame-5 .frame-5_form-block .form .input-block {
      margin-bottom: 28px;
   }
   .frame-5 .form .submit {      
      padding-top: 15px;
   }
   .frame-5 .form .submit button {      
      padding: 0 40px;      
   }
   .frame-5 .frame-5_mac-block {
      height: 785px;      
   }   
   .frame-5 .frame-5_mac-block .wrapper .macbook {
      width: 1020px;
      height: 600px;      
      background: url(../img/bg-macbook.png) no-repeat center center / 1020px 600px;
      top: 77px;
      left: 300px;
      transition: all 1000ms ease;
   }
   .frame-5 .frame-5_mac-block .frame-5_lines {      
      height: 720px;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: all 2300ms ease;
   }
   .frame-5 .frame-5_mac-block .wrapper .mac-text {
      width: 400px;
      padding-top: 195px;
      background: url(../img/frame_05_icon_2.svg) no-repeat -16px 102px / 73px auto;
      font: 300 30px/40px 'Fira Sans', sans-serif;      
   }
   .frame-5 .frame-5_mac-block .frame-5_lines::before {      
      background: url(../img/frame_05_lines.svg) no-repeat center bottom / auto 660px;
      width: 100vw;
      height: 730px;      
   }
   .frame-5 .popup {      
      height: 705px;      
   }
   .frame-5 .popup h2 {      
      margin: 0 auto 20px auto;
      font: 600 48px/60px 'Fira Sans', sans-serif;
      color: #4a94e3;
      width: 660px;
   }
   .frame-5 .popup .message {
      font: 300 30px/40px 'Fira Sans', sans-serif;
      color: #000;
      width: 780px;
      margin: auto;
   }
   .frame-5 .popup .close {            
      top: 30px;
      right: 30px;      
   }

   /* ================================ FRAME - 6 ========================================*/

   .frame-6 h2 {      
      padding: 82px 0 57px 0;
      font: 500 30px/1 'Fira Sans', sans-serif;      
   }
   .frame-6 .parnters li:nth-child(odd) {
      width: 250px;
      padding-right: 18px;
      box-sizing: content-box;
   }

/* ================================ FRAME - 7 ========================================*/

   .frame-7 {
      height: 400px;
      background: url(../img/frame_07_bg.svg) no-repeat center top / 2150px auto;
      position: relative;
      padding-top: 90px;
   }
   .frame-7::before {
      content: "";
      background: url(../img/frame_07_Chart.svg) no-repeat center top / 2150px auto;
      width: 100vw;
      height: 472px;
      position: absolute;
      top: 0;
      left: 0;
   }
   .frame-7 .wrapper h2 {
      font: 500 30px/1 'Fira Sans', sans-serif;    
      margin: 0 0 27px 0;    
   }
   .flip-clock-wrapper ul {            
      margin: 5px 10px;
      width: 80px;
      height: 134px;
      font-size: 80px;
      font-weight: bold;
      line-height: 87px;
      border-radius: 14px;
      background: #8ac3fd;
   }
   .flip-clock-wrapper ul li a div div.inn {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 200%;
      color: #fff;      
      font: 600 107px/134px 'Fira Sans', sans-serif;
   }
   .flip-clock-divider {
      float: left;
      display: inline-block;
      position: relative;
      width: 41px;
      height: 150px;
   }
   .flip-clock-dot {            
      width: 10px;
      height: 10px;      
      left: 17px;
   }
   .flip-clock-dot.top {
      top: 50px;
   }
   .flip-clock-divider .flip-clock-label {      
      top: 150px;
      right: -148px;      
      font: 500 24px/1 'Fira Sans', sans-serif;      
   }
   .flip-clock-divider.days .flip-clock-label {
      right: -130px;
   }
   .flip-clock-divider.hours .flip-clock-label {
      right: -135px;
   }
   .flip-clock-divider.minutes .flip-clock-label {
      right: -135px;
   }

/* ================================ FRAME - 8 ========================================*/

   .frame-8 {
      height: 734px;      
      margin-top: -73px;
      padding-top: 73px;
   }
   .frame-8 .frame-8_text {
      width: 380px;            
      padding-top: 170px;      
   }
   .frame-8 .frame-8_text h2 {
      font: 500 30px/36px 'Fira Sans', sans-serif;      
      margin: 0 0 19px 0;
      padding: 0;
   }
   .frame-8 .form {
      width: 540px;
      height: 395px;            
      margin: 0 0 0 400px;      
      padding: 55px 74px;      
   }
   .frame-8 .form .input-block input {      
      height: 45px;            
      font: 20px/45px 'Fira Sans', sans-serif;      
   }
   .frame-8 .form .submit button {      
      padding: 0 46px;      
   }
   .frame-8 .popup {      
      height: 390px;
      margin-top: 110px;
   }
   .frame-8 .popup h2 {    
      margin: 10px auto 13px auto;
      font: 600 48px/60px 'Fira Sans', sans-serif;    
   }
   .frame-8 .popup .close {      
      top: 30px;
      right: 30px;      
   }





}

@media screen and (max-width: 1023px) {
   .body-wrapper {
      min-width: 320px;
   }
   .wrapper {
      min-width: 320px;
      padding: 0 12px;      
      width:  auto;      
   }
/* ==========================================================================
                                   HEADER 
   ========================================================================== */   
   header .wrapper {
      height: 54px;
   }
   header .wrapper .header_logo {      
      width: auto;
      height: 22px;
      margin-top: 15px;
   }
   header .wrapper .header_logo img {      
      height: 22px;
      width: auto;
   }
   header nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      max-height: 0;
      background-color: #69b0f7;      
      transition: max-height 250ms ease;
      overflow: hidden;
   }
   header nav::after {
      content: "";
      display: block;
      position: fixed;
      width: 100%;
      height: 1px;
      background-color: #fff;
      left: 0;
      top: 54px;
   }
   header.show-nav .wrapper .header_logo {
      z-index: 102;
      position: fixed;
      top: 0px;
      left: 12px;      
   }
   header.show-nav {
      
   }
   header nav .header_menu li:hover {
      border: none;
   }
   header.show-nav nav {      
      max-height: 110%;
      z-index: 100;
   }
   header nav .header_menu {
      margin: 25vh 0 0 0;
      float: none;
      text-align: center;      
   }
   header nav .header_menu li {
      float: none;
      margin: 0 0 6vh 0;
      padding: 0;
      height: auto;
      font: 20px/1 'Fira Sans', sans-serif;
   }
   header nav .header_menu li.current a {      
      border-bottom: 3px solid #fff;
      display: inline-block;
      padding-bottom: 15px;
      font-weight: bold;
   }
   header .header_reg {
      float: none;
      margin: 15vh auto 0 auto;
   }
   header .nav_but {
      display: block;      
   }
   header.show-nav .nav_but {
      position: fixed;
      right: 12px;
      z-index: 102;
   }
   
   /* ==========================================================================
                                   FRAME - 1 
   ========================================================================== */   




   .frame-1 .marker-1,
   .frame-1 .marker-2 {
      display: none;
   }


   .frame-1 {
      height: auto;
      background: url(../img/frame_01_bg.svg) no-repeat center -180px / 2560px auto;
   }
   .frame-1_text-block {
      width: auto;
      padding-top: 50px;
      text-align: center;
      margin-bottom: 37px;
      transition: all 700ms ease 1500ms;
   }
   .frame-1_text-block h1 {
      font: bold 20px/24px 'Fira Sans', sans-serif;
   }
   .frame-1_description {
      width: auto;
      font: 300 16px/22px 'Fira Sans', sans-serif;
   }
   .frame-1_registration {
      width: auto;
      height: 57px;      
      text-align: center;
      font: 17px/60px 'Fira Sans', sans-serif;
   }
   .frame-1_phone {
      width: 166px;
      height: 346px;
      position: relative;
      top: 0;
      right: 70px;
      margin: auto;
      border-radius: 36px;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.4);
      opacity: 0;
      transform: translate3d(50px, 0, 0);
      transition: all 300ms ease 1800ms;
   }
   .frame-1_phone::before {
      content: "";
      display: block;
      width: 166px;
      height: 346px;
      background: url(../img/bg-phone.png) no-repeat center center / 166px auto;
      border-radius: 36px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
   }
   .frame-1_phone::after {
      content: "";
      display: block;
      width: 142px;
      height: 259px;
      position: absolute;
      top: 47px;
      left: 166px;
      right: auto;
      background: url(../img/bg-phone-screen.png) no-repeat center center / 142px auto;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.4);
      transform: translate3d(-100%, 0, 0);
      z-index: 1;
      transition: all 250ms ease 2100ms;
   }
   .frame-1 .chart-1,
   .frame-1 .chart-2,
   .frame-1 .chart-3 {
      height: 600px;
   }
   .frame-1 .chart-1::after {
      height: 600px;
      background: url(../img/frame_01_Chart_1.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .chart-2::after {
      height: 600px;
      background: url(../img/frame_01_Chart_2.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .chart-3::after {
      height: 600px;
      background: url(../img/frame_01_Chart_3.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .setka {
      height: 600px;
      background: url(../img/frame_01_setka.svg) no-repeat center -180px / 2560px auto;
   }
   .frame-1 .lines {
      height: 600px;
   }
   .frame-1 .lines .line-1 {
      height: 600px;
      background: url(../img/frame_01_line_1.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .lines .line-2 {
      height: 600px;
      background: url(../img/frame_01_line_2.svg) no-repeat center -385px / 2560px auto;
   }
   .frame-1 .lines .line-3 {
      height: 600px;
      background: url(../img/frame_01_line_3.svg) no-repeat center -385px / 2560px auto;
   }
/* ==========================================================================
                                   FRAME - 2
   ========================================================================== */   

   .frame-2 {
      z-index: 1;
      position: relative;
      padding-bottom: 0;
   }
   .frame-2_title-block {
      width: auto;
      margin: auto;
      text-align: center;
      margin-bottom: 90px;
   }
   .frame-2_title-block h2 {
      font: 700 24px/30px 'Fira Sans', sans-serif;
      color: #000;
      margin: 0;
      padding: 100px 0 15px 0;
   }
   .frame-2_title-block_text {
     font: 300 16px/24px 'Fira Sans', sans-serif;
     color: #000;
  }
  .frame-2_description li {
     width: auto;
     float: none!important;
     position: relative;
     padding-left: 0;
     text-align: center;
     margin-bottom: 90px;
  }
  .frame-2_description_list,
  .frame-2_description_list.w2 {
     position: relative;
     top: 0;
     left: 3vw;
     width: 120px;
     height: 120px;
     transition: transform 1s ease;
     transform: perspective(700px) rotateY(90deg);
     margin: auto;
  }
  .frame-2_description li h3 {
     font: 500 24px/1 'Fira Sans', sans-serif;
     color: #5ca2e9;
     padding: 0;
     margin: 50px 0 24px 0;
  }
  .frame-2_description_text {
     font: 16px/24px 'Fira Sans', sans-serif;
     color: #000;
  }
  .frame-2  li.li-2,
  .frame-2  li.li-4 {
      margin-bottom: 0;
   }
   .frame-2_chart {
      height: auto;
      background: url(../img/frame_02_chart.svg) no-repeat 72% top / auto 115%;
      margin: 26px 0 60px 0;
      padding-bottom: 100px;
   }
   .frame-2_chart .frame-2_description {
      padding-top: 145px;
   }
   .frame-2  li.li-3 {
      margin-bottom: 80px;
   }

/* ==========================================================================
                                   FRAME - 3
   ========================================================================== */ 




.frame-3 .line {
   display: none;
}

.frame-3 {
    height: auto;
    background: url(../img/frame_03_bg.svg) no-repeat center bottom / auto 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
 }
.frame-3 .wrapper {

}
.frame-3_title {
   margin-bottom: 25px;
}
.frame-3_title h2 {
    margin: 0 0 21px 0;
    padding: 0;
    font: 500 24px/48px 'Fira Sans', sans-serif;
    color: #fff;
}
.frame-3_title-text {
    font: 300 16px/24px 'Fira Sans', sans-serif;
    color: #fff;
    opacity: 0.9;
}
.frame-3 .frame-3_step {
    position: relative;
    text-align: center;
    width: auto;
    top: 0!important;
    left: 0!important;
    margin-bottom: 70px;
}
.frame-3 .frame-3_step .bobble {
   display: none;
}
.frame-3 .frame-3_step .bobble_title {
    font: 600 24px/1 'Fira Sans', sans-serif;
    color: #fff;
    margin-bottom: 38px;
}
.frame-3 .frame-3_step .bobble_title::before {
      display: block;
      font: 600 96px/1 'Fira Sans Extra Condensed', sans-serif;
      margin-bottom: -60px;
      opacity: 0.13;
}
.frame-3 .chart-1 {    
   background: url(../img/frame_03_Chart_1.svg) no-repeat center bottom / auto 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-2 {    
    position: absolute;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-3 {    
    position: absolute;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-4 {    
    position: absolute;
    width: 100%;
    height: 100%!important;
    top: 0;
    left: 0;
    z-index: 1;
}
.frame-3 .chart-2::before {
    content: "";
    background: url(../img/frame_03_Chart_2.svg) no-repeat center bottom / auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.frame-3 .chart-3::before {
    content: "";
    background: url(../img/frame_03_Chart_3.svg) no-repeat center bottom / auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.frame-3 .chart-4::before {
    content: "";
    background: url(../img/frame_03_Chart_4.svg) no-repeat center bottom / auto 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* ==========================================================================
                                   FRAME - 4
   ========================================================================== */ 
.frame-4 {
   height: auto;
}
.frame-4 .wrapper .bg {
   display: none;
}
.frame-4 .frame-4_title {
    margin: 45px 0 45px 0;    
    width: auto;
    font: 500 24px/30px 'Fira Sans', sans-serif;    
    text-align: center;
}
.frame-4 .frame-4_list {    
    width: auto;
}
.frame-4 .frame-4_list li {
    font: 400 16px/24px 'Fira Sans', sans-serif;    
    padding-left: 46px;    
    margin-bottom: 40px;
}
.frame-4 .frame-4_list li::before {    
    width: 13px;
    height: 13px;    
    top: 10px;
    left: 6px;    
}
.frame-4 .frame-4_list li::after {    
    width: 29px;
    height: 29px;
}



/* ==========================================================================
                                   FRAME - 5
   ========================================================================== */ 
.frame-5 {

}
.frame-5 .chart-1,
.frame-5 .chart-2 {
   display: none;
}
.frame-5 .frame-5_form-block .wrapper {
    padding-top: 0;    
}
.frame-5 .frame-5_form-block {
    height: auto;
    background: url(../img/frame_05_bg.svg) no-repeat 4% bottom / auto 100%;
    padding: 100px 0;
}
.frame-5 .frame-5_text {    
    background: url(../img/frame_05_icon_1.svg) no-repeat center 0 / 90px auto;
    height: auto;
    font: 300 20px/30px 'Fira Sans', sans-serif;    
    padding-top: 90px;
    margin: 0 0 50px 0;
    float: none;
    width: auto;
    text-align: center;
    transition: all 1000ms ease;
}
.frame-5 .frame-5_form-block .form {
    width: auto;
    height: auto;        
    opacity: 0;    
    transition: transform 1000ms ease, opacity 1500ms linear;
    padding: 0 20px 50px 20px;
}
.frame-5 .frame-5_form-block .form h2 {
    padding: 60px 0 34px 0;    
}
.frame-5 .frame-5_form-block .form .input-block {
   margin-bottom: 10px;
}
.frame-5 .frame-5_form-block .form .input-block label {
    font: 300 14px/1 'Fira Sans', sans-serif;    
    margin-bottom: 8px;
}
.frame-5 .frame-5_form-block .form .input-block input {    
    height: 40px;    
    font: 17px/40px 'Fira Sans', sans-serif;    
}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
    position: relative;
    padding: 2px 0 0 25px;
    cursor: pointer;
    font: 300 11px/14px 'Fira Sans', sans-serif!important;
    color: #000!important;
}
.frame-5_checkbox [type="checkbox"]:not(:checked) + label:before, .frame-5_checkbox [type="checkbox"]:checked + label:before {    
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #b7b7b7;
    background: #fff;
    border-radius: 2px;
}
.frame-5 .frame-5_mac-block {
   padding-top: 50px;
   height: auto;   
}
.frame-5 .frame-5_mac-block .wrapper .mac-text {
    width: auto;
    padding-top: 70px;
    background: url(../img/frame_05_icon_2.svg) no-repeat center top / 73px auto;
    font: 300 20px/30px 'Fira Sans', sans-serif;    
    transition: all 1000ms ease;
    transform: translate(0, 50px);
    opacity: 0;
}
.frame-5 .frame-5_mac-block .frame-5_lines {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    top: auto;
    left: 0;    
    transition: all 1500ms ease;
}
.frame-5 .frame-5_mac-block .frame-5_lines::before {    
    background: url(../img/frame_05_lines.svg) no-repeat center bottom / auto 100%;
    width: 100vw;
    height: 220px;    
}
.frame-5 .frame-5_mac-block .wrapper {
   padding-bottom: 380px;
}
.frame-5 .frame-5_mac-block .wrapper .macbook {
    width: 570px;
    height: 335px;    
    background: url(../img/bg-macbook.png) no-repeat center center / 570px auto;
    top: auto;
    bottom: 0;
    left: 40px;
    transform: perspective(0px) rotateY(0deg);
    opacity: 1;
    transition: all 900ms ease;
}


/* ==========================================================================
                                   FRAME - 6
   ========================================================================== */ 
.frame-6 h2 {
    margin: 0;
    padding: 82px 0 42px 0;
    font: 500 24px/30px 'Fira Sans', sans-serif;    
}
.frame-6 .parnters {
   display: block;
}
.frame-6 .parnters li {
    display: block;
    height: 134px;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 50%!important;
    padding: 0!important;
}
.frame-6 .parnters li .middle {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.frame-6 .parnters li img {
   transform: scale(0.85);
   vertical-align: middle;
   max-width: 144px;
}

/* ==========================================================================
                                   FRAME - 7
   ========================================================================== */ 
   .frame-7 {
    height: 80px;
    background: url(../img/frame_07_bg.svg) no-repeat center top / auto 100%;
    position: relative;
    padding-top: 0px;
}
.frame-7::before {    
    background: url(../img/frame_07_Chart.svg) no-repeat center top / auto 100%;
    width: 100vw;
    height: 100%;    
}
.frame-7 .wrapper h2,
.frame-7 .wrapper .timer {
   display: none;
}

/* ==========================================================================
                                   FRAME - 8
   ========================================================================== */ 
.frame-8 {
    height: auto;    
    margin-top: -30px;
    padding-top: 30px;
}
.frame-8 .frame-8_text {
    width: auto;
    float: none;
    font: 300 16px/24px 'Fira Sans', sans-serif;    
    padding-top: 60px;
    transition: all 800ms ease 300ms;    
    text-align: center;
    margin-bottom: 40px;
}
.frame-8 .frame-8_text h2 {
    font: 500 24px/30px 'Fira Sans', sans-serif;    
    margin: 0 0 19px 0;
    padding: 0;
}
.frame-8 .form {
    width: auto;
    height: auto;    
    border-radius: 16px;
    margin: 0;
    box-shadow: 0 5px 45px 0 rgba(140, 173, 208, 0.45);
    padding: 50px 18px;
    opacity: 0;
    transform: translate3d(0, 0px, 0);
    transition: transform 1000ms ease, opacity 700ms linear 500ms;
    margin-bottom: 112px;
}
.frame-8 .form .input-block {
   margin-bottom: 10px;
}
.frame-8 .form .input-block label {
    font: 300 14px/1 'Fira Sans', sans-serif;    
    margin-bottom: 8px;
}
.frame-8 .form .input-block input {    
    height: 40px;    
    font: 17px/40px 'Fira Sans', sans-serif;    
}


/* ==========================================================================
                                   FOOTER
   ========================================================================== */ 
   footer {
    height: auto;    
    padding: 50px 0 80px 0;
}
footer .wrapper .right {
    float: none;
    overflow: hidden;
    margin-bottom: 65px;
    text-align: center;
}
footer .wrapper .right a {
   float: none!important;
   display: inline-block!important;
}
footer .wrapper .right a:first-child {
   margin: 0;
}
footer .wrapper .left {
    width: auto;
    float: none;
    text-align: center;
    padding-top: 56px;
    font: 300 22px/36px 'Fira Sans', sans-serif;    
    background: url(../img/header-logo.png) no-repeat center top / 180px auto;
}
.frame-5 .popup,
.frame-8 .popup {
    width: 100%;
    height: 100%;    
    border-radius: 0;    
    z-index: 3;
    position: fixed;
    display: none;
    margin-top:0;
    top: 0;
    left: 0;
}
.frame-5 .popup h2,
.frame-8 .popup h2 {
    padding: 0 20px;
    margin: 0 auto 40px auto;
    font: 600 26px/30px 'Fira Sans', sans-serif;    
    width: auto;
}
.frame-5 .popup .message,
.frame-8 .popup .message {
    font: 300 20px/26px 'Fira Sans', sans-serif;
    color: #000;
    width: auto;
    margin: auto;
    padding: 0 20px;
}
.frame-5 .popup .close,
.frame-8 .popup .close {    
    top: 20px;
    right: 20px;    
    background: url(../img/popup-close-smart.png) no-repeat center;
}

/* ==========================================================================
                                   ANIMATIONS
   ========================================================================== */ 

.frame-1 .chart-1 {    
    transition: width 800ms ease;
}
.frame-1 .chart-2 {    
    transition: width 800ms ease 100ms;
}
.frame-1 .chart-3 {    
    transition: width 800ms ease 200ms;
}
.frame-1 .setka {    
    transition: opacity 500ms ease;
}
.frame-1 .lines {    
    transition: width 1s ease 600ms;
}
.frame-4 .frame-4_animate {
    transition: all 1000ms ease;
}























@media screen and (max-width: 720px) {
   
}

